<!-- client/views/home/main.ejs -->

<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- <script src="/js/led/management.js" defer></script>
  <link rel="stylesheet" href="/css/led/management.css"> -->

  <title>HANGO SERVER MAIN</title>
</head>
<body>
  <!-- 타이틀 -->
  <h1 class="title">HANGO SERVER MAIN</h1>
  <span>골라골라팀의 행고 프로젝트 서버 메인입니다.</span><br>
  <span>하드웨어와 모바일간 통신을 위해 구축되었으며, 해당 UI는 단순히 서버의 동작 확인용입니다.</span><br>
  <span>행고 프로젝트는 "시각장애인도 먹고 싶은 자판기 음료를 고민하도록 해주자"는 취지와 목적을 갖습니다.</span><br>
  <span>열정으로 뭉친 '골라골라'는 2020년 7월 18일에 팀계정을 생성하고 지금까지 단 하루도 개발이 끊기지 않았으며, 'One Day One Contribution'이 기본 원칙이자 자랑입니다.</span><br><br>
  
  <h1 class="title">Github Repository</h1>
  <a href="https://github.com/golagola2020">Golagola</a><br>
  <a href="https://github.com/golagola2020/hango-server">hango-server</a><br>
  <a href="https://github.com/golagola2020/hango-client">hango-client</a><br>
</body>
</html>
