<!-- client/views/admin/home.ejs -->

<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/css/admin/home.css">
  <script src="/js/admin/home.js" defer></script>
  <title>Hango 관리자 시스템</title>
</head>
<body>
  <p id="question">What do you want to see?</p>
  <h1 class="menu" id='left'>자판기 관리</h1>
  <h1 class="menu" id='right'>소유자 관리</h1>
</body>
</html>