@import "../../reset.css";

body {
  height: 100vh;
  margin: 0;
  background: linear-gradient(90deg, var(--bg-left-color) 50%, var(--bg-right-color) 50%);
  color: var(--main-font-color);
}

#vending-create-form {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 25%;
  margin: 0 auto 0 auto;
  width: 50vw;
  padding: 20px;
  box-shadow: 4px 4px 7px 1px var(--main-color);
  border-radius: 8px;
  background-color: var(--form-bg-color);
}

#vending-create-form h1 {
  font-size: var(--font-large);
  font-weight: 700;
}

#vending-create-form #user-input {
  display: flex;
  flex-direction: column;
  width: 40vw;
  margin: 20px 5vw;
  font-size: var(--font-medium);
  font-weight: 500;
}

#vending-create-form #user-input label {
  margin-top: 10px;
  margin-bottom: 10px;
}

#vending-create-form #user-input .input {
  height: 40px;
  margin-bottom: 20px;
  padding-left: 8px;
  border: 1px solid var(--main-color);
  border-radius: 2px;
}

#vending-create-form #btns {
  display: flex;
  justify-content: center;
}

#vending-create-form #btns button {
  width: 100px;
  margin: 0 0 20px 0;
  padding: 10px 5px;
  font-size: var(--font-medium);
  outline: none;
  border: 1px solid var(--main-color);
  border-radius: 4px;
  background-color: var(--main-bg-color);
}

#vending-create-form #btns button:hover {
  cursor: pointer;
  transform: scale(1.04);
}

#vending-create-form #btns button:active {
  transform: scale(1.00);
}