<!-- client/views/404.ejs -->

<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/css/404.css">

  <title>Hango 관리자 시스템</title>
</head>

<body>
  <!-- 로그인 폼 -->
  <section id="form">
    <h1>404 Not Found</h1>
    <h2>올바른 페이지가 아닙니다.</h2>
  </section>
  
  <br><br>

  <section id="form">
    <article>
      <h1>Hango Project Management System</h1>
      <b>개발자 : </b>박우림<br><br>

      <div>
        <b>깃허브 : </b><a href="https://github.com/woorim960">바로가기</a><br>
        <b>블로그 : </b><a href="https://blog.naver.com/dnfla420">바로가기</a><br>
        <b>유튜브 : </b><a href="https://www.youtube.com/channel/UCS0F25vig_sPIQXMiK8IdSg?view_as=subscriber">바로가기</a><br><br>
      </div>

      팀 : <a href="https://github.com/golagola2020">Golagola</a><br>
      프로젝트 : Hango
    </article>
  </section>
</body>

</html>