<!-- client/views/admin/create.ejs -->

<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/admin/vending/create.css">
    <script type="module" src="/js/admin/vending/create.js" defer></script>

    <title>Hango 관리자 시스템</title>
</head>

<body>
    <!-- 로그인 폼 -->
    <section id="vending-create-form">
      <h1>자판기 등록</h1>

      <article id="user-input">
        <label for="id">관리자 아이디</label>
        <input type="text" class="input" placeholder="아이디" id="id" name="id">
      </article>

      <article id="btns">
        <button id="vending-create-btn">등록</button>
      </article>
    </section>
</body>

</html>