@import "../reset.css";
:root {
  /* color */
  --main-white: #fafafaea;
  --text-shadow-color: #38babe;
}

body {
  height: 100vh;
  margin: 0;
  background: linear-gradient(
    90deg,
    var(--bg-left-color) 50%,
    var(--bg-right-color) 50%
  );
  color: var(--main-font-color);
}

#question {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  font-size: 5vw;
  font-weight: 600;
  text-transform: uppercase;
  white-space: nowrap;
  text-shadow: var(--text-shadow-color) 4px 4px;
}

.menu {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 0.25em;
  margin: 0;
  color: var(--main-white);
  font-size: 5vw;
  font-weight: 400;
  text-transform: uppercase;
  white-space: nowrap;
  box-shadow: 4px 4px 7px 1px var(--main-color);
  border-radius: 8px;
  background-color: var(--form-bg-color);
}

.menu:hover {
  cursor: pointer;
  top: 50%;
  transform: translate(-50%, -50%) scale(1.02);
  transition-duration: 0.5s;
  box-shadow: 4px 4px 7px 1px var(--main-color);
  border-radius: 8px;
  background-color: var(--form-bg-color);
}

.menu:active {
  transform: translate(-50%, -50%);
  transition-duration: 0.2s;
}

#left {
  left: 25%;
}

#right {
  left: 75%;
}
