<!-- client/views/home/main.ejs -->

<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- <script src="/js/led/management.js" defer></script>
  <link rel="stylesheet" href="/css/led/management.css"> -->

  <title>WEB SERVER MAIN</title>
</head>
<body>
  <!-- 타이틀 -->
  <h1 class="title">WEB SERVER MAIN</h1>
  <span>골라골라팀의 행고 프로젝트 서버 메인입니다.</span><br>
  <span>아두이노와 모바일간 통신을 위해 구축되었으며, 해당 UI는 단순히 서버의 동작 확인용으로 개발되었습니다.</span>

  <h3>server-name : Sensing-Server<br>database-name : sensing-dbserver</h3>
</body>
</html>